
nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}

nav.menu-nav ul li.btn a{
	color: #fff;
	background-color: red;
	text-decoration: none;
	padding: 10px;
}

nav.menu-nav ul li.btn:hover a{
	color: red;
	background-color: white;
	transition: 0.5s all;
}

/*p.welcome{
	color: #fff;
	background-color: #E21C44;
}

p.vivacss{
	color: #000;
	font-weight: bold;
}

body{
	background-color: #777;
}

h2.headline{
	font-size: 50px;
	padding-left: 200px;
}*/

